   <ion-content>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="closeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
     <ion-list>
  <ion-item>
    <ion-icon slot="start" name="notifications-outline"></ion-icon>
    <ion-label>
      <h2>New Message from Connor</h2>
      <p>You have a new sales report to review.</p>
      <p class="ion-text-right"><small>2 min ago</small></p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="chatbubble-outline"></ion-icon>
    <ion-label>
      <h2>Daniel commented on your design</h2>
      <p>Please check the latest product design draft.</p>
      <p class="ion-text-right"><small>15 min ago</small></p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="cog-outline"></ion-icon>
    <ion-label>
      <h2>System Update</h2>
      <p>The operations dashboard has been updated.</p>
      <p class="ion-text-right"><small>1 hour ago</small></p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
    <ion-label>
      <h2>Zoey approved your request</h2>
      <p>Your leave request has been approved.</p>
      <p class="ion-text-right"><small>3 hours ago</small></p>
    </ion-label>
  </ion-item>
</ion-list>

      </ion-content>